config APFS_FS
	tristate "APFS file system support"
	depends on BLOCK
	help
	  APFS is used on Hx SoC-based mobile devices.

	  To compile this file system support as a module, choose M here: the
	  module will be called affs.  If unsure, say N.
